*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: whitesmoke;
  font-family: sans-serif;
}

#divContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 514px;
  width: 514px;
  border: 1px solid black;
}

.divCell{
  display: flex;
  width: 32px;
  aspect-ratio: 1 / 1;
  border: 0.1px solid rgba(177, 177, 177, 0.777);
  background-color: white;
}

#center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  margin: 100px 0;
}

#title{
  margin: 40px 0;
  
  font-size: 32px;
}

.button{
  color: aliceblue;
  background-color: rgb(28, 25, 25);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

#buttons{
  padding-top: 40px;
  display: flex;
  gap: 20px;
}

#popUps{
  display: flex;
  align-items: center;
  justify-content: center;
}

#gridPopUp,
#colorPopUp{
  border: none;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

  inset: 0;
  margin: auto;

  width: 400px;
  height: 210px;
}

#gridPopUpDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
#inputGrid{
  margin-top: 10px;
  font-size: 32px;
  width: 200px;
  border-radius: 4px;
  border: 1px solid black;
}
#submitGrid{
  background-color: black;
  color: white;
  padding: 10px 80px;
  border: none;
  border-radius: 4px;
}
#closeBtnGrid{
  justify-self: flex-end;
  margin-top: 14px;
  max-width: 140px;
  align-self: center;
}
#closeBtnGrid:hover{
  border: 0.1px solid rgba(255, 255, 255, 0.584);
  box-shadow: 0 1px 4px rgba(74, 74, 74, 0.371);
}
#closeBtnGrid:active{
  border: 0.1px solid white;
}

#colorPopUpDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: stretch;
}

#closeBtnColor{
  margin-top: 10px;
  max-width: 140px;
  align-self: center;
}
#closeBtnColor:hover{
  border: 0.1px solid rgba(255, 255, 255, 0.584);
  box-shadow: 0 1px 4px rgba(74, 74, 74, 0.371);
}
#closeBtnColor:active{
  border: 0.1px solid white;
}

#colorButtons{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.color,
#closeBtnColor,
#closeBtnGrid{
  border: 0.2px solid rgba(63, 63, 63, 0.443);
  padding: 4px 20px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 3px 8px rgba(229, 229, 229, 0.374);
}
#blackColor:hover{
  background-color: black;
  color: white;
}
#pinkColor:hover{
  background-color: pink;
}
#rainbow:hover{
  background: linear-gradient(135deg, #ff0055, #ff9900, #33cc33, #0099ff, #7700aa);
}